################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp18
/ConsoleApp18/obj/Debug
/ConsoleApp18/bin/Debug
